@using MovManagerr.Models.ViewModels


<h2 class="content-block">Se connecter</h2>

@using (Html.BeginForm("Login", "Account", FormMethod.Post, new { @style = "margin: 40px" }))
{
    <div id="form-container">

        @(Html.DevExtreme().Form<LoginViewModel>()
            .ID("form")
            .ColCount(1)
            .Items(items => {
                
                items.AddSimpleFor(m => m.Username);
                
                items.AddSimpleFor(m => m.Password)
                .Editor(e => e.TextBox().Mode(TextBoxMode.Password));
                
                items.AddButton().ButtonOptions(x => x
                .Text("Se connecter")
                .Type(ButtonType.Default)
                .UseSubmitBehavior(true));
            })
        )
    </div>
}