@using M3USync.Commands.Backgrounds


<div class="row">
    <div class="col-12">
        <RadzenButton BusyText="Recherche en cours" IsBusy=@InProcess Click=@(args => ToggleTask()) Text="@Text" />
        @if (InProcess)
        {
            <RadzenButton ButtonStyle="ButtonStyle.Warning" Click=@(args => ToggleTask()) Text="Annuler" />
        }
    </div>
</div>


@code {

    private bool InProcess;

    protected override async Task OnInitializedAsync()
    {
        await base.OnInitializedAsync();

        if (OnStatusChanged != null)
        {
            BackgroundService.OnStatusChanged += OnStatusChanged;
        }

        BackgroundService.OnStatusChanged += RefreshUIAsync;

        InProcess = BackgroundService.CurrentlyInProcess();
    }


    public void Dispose()
    {
        if (OnStatusChanged != null)
        {
            BackgroundService.OnStatusChanged -= OnStatusChanged;
        }

        BackgroundService.OnStatusChanged -= RefreshUIAsync;

    }

    private async void RefreshUIAsync()
    {
        // InvokeAsync is inherited, it syncs the call back to the render thread
        await InvokeAsync(() =>
        {
            StateHasChanged();
        });
    }

    protected override Task OnAfterRenderAsync(bool firstRender)
    {
        if (firstRender)
        {
            StateHasChanged();
        }

        if (InProcess != BackgroundService.CurrentlyInProcess())
        {
            InProcess = BackgroundService.CurrentlyInProcess();
            StateHasChanged();
        }

        return base.OnAfterRenderAsync(firstRender);
    }


    protected async Task ToggleTask()
    {
        if (InProcess)
        {
            await BackgroundService.StopAsync(new System.Threading.CancellationToken());
        }
        else
        {
            await BackgroundService.StartAsync(new System.Threading.CancellationToken());
        }
    }


    // Demonstrates how a parent component can supply parameters
    [Parameter]
    public EventedBackgroundService BackgroundService { get; set; }

    [Parameter]
    public Action OnStatusChanged { get; set; }

    [Parameter]
    public string Text { get; set; }


}
