@inherits LayoutComponentBase

<div class="page">

    <RadzenDialog />


    <RadzenLayout>
        <RadzenHeader>
            <div class="d-flex align-items-center">
                <RadzenSidebarToggle Click="@(() => sidebar1Expanded = !sidebar1Expanded)" />
                <RadzenLabel Text="Movmanagerr" />
            </div>
        </RadzenHeader>
        <RadzenSidebar @bind-Expanded="@sidebar1Expanded">
            <RadzenPanelMenu>
@*                <RadzenPanelMenuItem Text="Rechercher un film (beta)" Icon="home" Path="/search/movie" />
*@                <RadzenPanelMenuItem Text="Voir mes films" Icon="list" Path="/imported/movie" />                
                <RadzenPanelMenuItem Text="Importer un film" Icon="downloading" Path="/import/movie" />
@*                <RadzenPanelMenuItem Text="Gestion des téléchargements" Icon="downloading" Path="/content/downloads" />*@
                <RadzenPanelMenuItem Text="Mes listes" Icon="list" Path="/mylists" />
                <RadzenPanelMenuItem Text="Scanner un dossier de film (beta)" Icon="list" Path="/scan/movie" />
                <RadzenPanelMenuItem Text="Afficher les tâches en cours" Icon="list" Path="/hangfire" />
                <RadzenPanelMenuItem Text="Paramètre" Icon="settings" Path="/config/general" />
            </RadzenPanelMenu>
        </RadzenSidebar>
        <RadzenBody>

            <RadzenSplitter Orientation="Orientation.Vertical" style="height: 90vh;">
                <RadzenSplitterPane Size="90%">
                    <RadzenSplitter>
                        <RadzenSplitterPane>

                            <div style="overflow-y: scroll; overflow-x: hidden; height: 100%">
                                <div class="p-2">
                                    @Body
                                </div>
                            </div>

                        </RadzenSplitterPane>
                    </RadzenSplitter>
                </RadzenSplitterPane>
                <RadzenSplitterPane>
                    <RadzenSplitter>
                        <RadzenSplitterPane>
                            <div style="overflow-y: scroll; overflow-x: hidden; height: 100%; scroll-behavior: smooth;">
                                <Logs></Logs>
                            </div>
                        </RadzenSplitterPane>
                    </RadzenSplitter>
                </RadzenSplitterPane>
            </RadzenSplitter>

        </RadzenBody>

    </RadzenLayout>
</div>

@code {
    bool sidebar1Expanded = true;
}
