@inherits LayoutComponentBase

<div class="page">



    <RadzenLayout>
        <RadzenHeader>
            <div class="d-flex align-items-center">
                <RadzenSidebarToggle Click="@(() => sidebar1Expanded = !sidebar1Expanded)" />
                <RadzenLabel Text="Movmanagerr" />
            </div>
        </RadzenHeader>
        <RadzenSidebar @bind-Expanded="@sidebar1Expanded">
            <RadzenPanelMenu>
                <RadzenPanelMenuItem Text="Général" Icon="home" Path="/search/movie" />
                <RadzenPanelMenuItem Text="Gestion des téléchargements" Icon="downloading" Path="/content/downloads" />
                <RadzenPanelMenuItem Text="Dernière activité" Icon="list" />
                <RadzenPanelMenuItem Text="Mes listes" Icon="list" Path="/mylists" />
            </RadzenPanelMenu>
        </RadzenSidebar>
        <RadzenBody>

            <RadzenSplitter Orientation="Orientation.Vertical" style="height: 90vh;">
                <RadzenSplitterPane Size="90%">
                    <RadzenSplitter>
                        <RadzenSplitterPane>

                            <div style="overflow-y: scroll; overflow-x: hidden; height: 100%">
                                <div class="p-2">
                                    @Body
                                </div>
                            </div>

                        </RadzenSplitterPane>
                    </RadzenSplitter>
                </RadzenSplitterPane>
                <RadzenSplitterPane>
                    <RadzenSplitter>
                        <RadzenSplitterPane>
                            <div style="overflow-y: scroll; overflow-x: hidden; height: 100%; scroll-behavior: smooth;">
                                <Logs></Logs>
                            </div>
                        </RadzenSplitterPane>
                    </RadzenSplitter>
                </RadzenSplitterPane>
            </RadzenSplitter>

        </RadzenBody>

    </RadzenLayout>
</div>

@code {
    bool sidebar1Expanded = true;
}
