@page "/search/movie"
@inject IMovieService movieService
@using MovManagerr.Blazor.Pages.Searchs.Components;

<div class="row py-5">
    <div class="col-12">
        <RadzenCard>
            <BackgroundTaskButton BackgroundService="movieService.GetSearchAllMovieOnTmdbService" Text="Rechercher tous les films sur Tmdb" />
        </RadzenCard>
    </div>

    <MovieList></MovieList>
</div>